.intro-area .bg {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
.intro h3 {
  color: #a16c8d;
}

.intro ul {
  display: flex;
  margin-bottom: 25px;
}

.intro ul li {
  position: relative;
  margin-right: 25px;
  color: #2c2c2c;
}

.intro ul li:before {
  position: absolute;
  content: "";
  left: -15px;
  top: 10px;
  background-color: #656464;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.intro ul li:first-child:before {
  display: none;
}

@media only screen and (max-width: 991px) {
  .intro h1 {
    font-size: 62px;
  }
}

@media only screen and (max-width: 768px) {
  .intro-area {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .intro {
    padding-left: 0;
    text-align: center;
  }
  .intro h1 {
    font-size: 52px;
  }

  .intro h3 {
    font-size: 22px;
  }

  .intro ul {
    justify-content: center;
  }

  .intro ul li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 481px) {

  .intro h1 {
    font-size: 36px;
  }

  .intro h3 {
    font-size: 20px;
  }

  .intro ul {
    flex-direction: column;
  }

  .intro ul li {
    font-size: 14px;
    margin-right: 0;
  }

  .intro ul li:before {
    display: none;
  }
}
